@model SchoolDummy.Models.DashboardModel

@{
    Layout = "_Layout";
}

<h2>My School Dashboard</h2>

<div class="row">
  <div class="col-6">
        @Html.Partial("_Counters",Model)
  </div>
  <div class="col-6">
        
  </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-6">
        @Html.Partial("_Classes",Model)
    </div>
    <div class="col-6">
        @Html.Partial("_Teachers",Model.Teachers)
    </div>
</div>

