@using SchoolDummy.Entities
@model IList<Student>

@{
    Layout = "_Layout";
}


@if(Model != null && Model.Count > 0)
{
    <h1>Students List <a href="@Url.Action("AddStudent","Student")" class="btn btn-primary">Add Student</a></h1>

    <div class="row">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Roll No</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@student.FullName</td>
                        <td>@student.RollNo</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <h2>No Students Data ..</h2>
}